* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    scrollbar-width: none;
}
header {
    display: flex;
    flex-direction: row;
    gap: 70%;
    justify-content: center;
    padding-bottom: 50px;
    border: 1px #c2c4c8 solid;
}


#vue-produit {
    background-color: #edece9;
    height: 50%;
    width: 800px;
    padding-bottom: 120px;
    overflow: hidden; /* Cache le défilement */
}

#vue-options {
    height: 100%;
    max-height: 1000px; 
    width: 400px;
    padding: 20px;
    margin-top: 20px;
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
    box-sizing: border-box;
    scrollbar-width: none;
}


#page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  

#imageAffichee {
    margin: auto;
}

#fleches {
    display: flex;
    flex-direction: row;
    gap: 83%;
    cursor: pointer;
    margin-top: -200px;
    
}

#fleches img {
    width: 4%;
    margin-top: -20%;
    margin-bottom: 30%;
    margin-left: 3%;
}

img {
    width: 70%;
    transition: transform .1s;
}

#imgProduit{
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}


#poignee img {
    width: 30%;
    margin-top: -3px;
    margin-bottom: 1%;
    border: 1px solid #d8d4d4;
}


h3, h2, h4 {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}

h3 {
    margin-bottom: 30px;
}

p {
    text-align: center;
    font-size: small;
}

#buttonColor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

#buttonColor button {
    width: 30px;
    height: 30px;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 100px;
    margin-bottom: 10px;
    
}

#RAL7016 {
    background-color: #353c44;
}

#RAL9016 {
    background-color: #ffffff;
}

#Champ {
    background-color: #eced81;
}

#RAL7035 {
    background-color: #bfc1be;
}

#Argent {
    background-color: #dadada;
}


.active {
    scale: 115%;
    -webkit-box-shadow: 0px 0px 1px 2px #f20707;
    -moz-box-shadow: 0px 0px 1px 2px #f20707;
    box-shadow: 0px 0px 1px 2px #f20707;
}
button {
    padding: 2px;
    cursor: pointer;
}

#typeOuverture {
        margin: auto;
        margin-top: 50%;
        margin-bottom: 50%;


}
#ouvertures {
        display: flex;
        justify-content: center;
        margin-top: 5px;
}

#ouvertures img {
        width: 35%;
        /* margin-top: -3px; */
        margin-bottom: 1%;
        border: 1px solid #d8d4d4;
        margin: auto;
        cursor: pointer;
}

#typeModele {
        margin: auto;
        margin-top: 50%;
        margin-bottom: 50%;

}

#modelesPrefal1V, #modelesTechnal1V, 
#modelesPrefal2V, #modelesTechnal2V {
        display: flex;
        justify-content: center;
        margin-top: 15px;
}

#modelesPrefal1V img, #modelesTechnal1V img, 
#modelesTechnal2V img, #modelesPrefal2V img {
        width: 35%;
        /* margin-top: -3px; */
        margin-bottom: 1%;
        border: 1px solid #d8d4d4;
        margin: auto;
        cursor: pointer;
}

#typeFinition {
        margin: auto;
        margin-top: 50%;
        margin-bottom: 50%;
}

#typePoignee {
        margin: auto;
        margin-top: 50%;
        margin-bottom: 50%;
    
        
}

#poigneesPrefal, #poigneesTechnal {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#poigneesPrefal img, #poigneesTechnal img {
    width: 35%;
    margin-top: -3px;
    margin-bottom: 1%;
    border: 1px solid #d8d4d4;
    margin: auto;
    cursor: pointer;
    
}
#enregistrerProjet {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#save {
    width: 200px;
    height: 40px;
    background-color: #383e42;
    color: white;
    margin-bottom: 20px;
}



}